@import '../base/_settings.css';

.area-top-padding{
    padding-top: 80px;
}

.section-title h2{
    font-size: 45px;
}

.progress{
    height: 6px;
    max-width: 150px;
}

.progress-bar-1{
    width: 35%;
    background: var(--primary);
    height: 6px;
}

.progress-bar-2{
    width: 65%;
    background: #fff;
    height: 6px;
}

.row{
    margin-top: 50px;
}

.about-image img{
    width: 100%;
}

img{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.contents h3{
    color: var(--white);
    font-size: 36px;
    margin: 10px 0px 20px;
}

.color-theme{
    color: var(--primary);
    display: inline-block;
}

.about-content ul{
    list-style: none;
    margin-bottom: 2rem;
}

.about-content ul b{
    display: inline-block;
    width: 120px;
    margin: 2px 0px;
}

.button{
    font-size: 24px;
    font-weight: 800;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    transition: 700ms;
}

.button:hover{
    color: var(--dark);
    background-color: var(--white);
}

@media only screen and (max-width: 960px){  /* max-width: 760px  */
    
}

@media screen and (min-width: 961px)/* min-width: 761px  */ and (max-width: 1299px)/* max-width: 999px  */{
    .area-top-padding{
        padding-top: 100px;
    }

    .contents h3{
        margin: -5px 0px 20px;
    }
}

@media only screen and (min-width: 1300px){  /* min-width: 1000px  */
    .area-top-padding{
        padding-top: 120px;
    }
    .about-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
}