.area-top-padding{
    padding-top: 80px;
}

.section-title h2{
    font-size: 45px;
}

.progress{
    height: 6px;
    max-width: 150px;
}

.progress-bar-1{
    width: 35%;
    background: var(--primary);
    height: 6px;
}

.progress-bar-2{
    width: 65%;
    background: #fff;
    height: 6px;
}

.about-image{
    height: 500px;
    width: 500px;
}

@media only screen and (max-width: 960px){  /* max-width: 760px  */
    
}

@media screen and (min-width: 961px)/* min-width: 761px  */ and (max-width: 1299px)/* max-width: 999px  */{
    .area-top-padding{
        padding-top: 100px;
    }
}

@media only screen and (min-width: 1300px){  /* min-width: 1000px  */
    .area-top-padding{
        padding-top: 120px;
    }
}