@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&family=Ubuntu+Condensed&display=swap');
@import './_settings.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    overflow: hidden!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 1.8rem;
    color: #a4acc4;
    font-weight: 400;
    background: #10121b;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(16, 18, 27);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Ubuntu Condensed', sans-serif;
}